---
layout: default
---

<div id="home">
    <!-- <h1>Aurélien Tabard</h1> -->
    <p>
      My research focuses on one consequence of the digital revolution: the pervasiveness of digital traces we leave behind us.
      I study how we relate to these traces, how we can control them but also how they can enrich our lives. Ongoing projects
      include: leveraging traces to develop and improve our digital skills by reflecting on past experiences,
      enabling users to better understand the traces they produce and developing tools to better control how traces are used.
    </p>

    <p class="minor">
      In the past years, I have explored these questions in the context of Biology laboratories, studying how researchers
      capture, re-visit and reflect on information (see my <a href="thesis/Tabard-phd-dissertation.pdf">dissertation</a>).
    </p>

    <div id="ongoing">
      <h3>Ongoing Projects</h3>
      <ul>
        <li>PLACED : Place- and Activity-Centric Services for libraries, with the <a href="http://pit.au.dk/">University of Aarhus</a>, <a href="http://ait.gu.se/english/contact/faculty/eva-eriksson">Chalmers University</a>,
          <a href="http://www.enssib.fr/enssiblab/">the French National Library School</a>, <a href="https://dokk1.dk/">Dokk1</a>, the libraries of <a href="http://www.bm-lyon.fr/">Lyon</a> and Goteborg.
          <!-- <a href="http://biin.fr/">biin</a></li> -->
        <li>Activity Centric Computing, including <a href="http://activityhistory.github.io/">Capturing and visualizing activity</a> with <a href="http://adamrule.com/">A. Rule</a> and <a href="http://hci.ucsd.edu/hollan/">J. Hollan</a>.</li>
        <li>Digital experience of multi-modal tranport in the Paris area.</li>
        <li>Understanding data physicalization.</li>
        <!--li>TUIsla: wireless and battery-less phidgets + rapid fabrication.</li-->
      </ul>
    </div>

    <div class="important">
      <em>We are <a style="text-decoration-line: underline" href="openings">hiring</a>, <a style="text-decoration-line: underline" href="openings#internships">interns</a>, <a style="text-decoration-line: underline;" href="https://docs.google.com/document/d/1gJjpcAod8TaO5htYM0YL1fIto0frnYY2CRLFFrs0gDs/edit?usp=sharing">Ph.D students</a>, and <a style="text-decoration-line: underline; color:red" href="openings">post-docs</a>. Get in touch!</em>
    </div>

    <!-- <hr /> -->
    <div id="news">
      <h3>News</h3>
      <div class="panel">
      <ul>
        {% for info in site.data.news %}
          {% if info.display == 'y' %}
          <li>{{ info.date }} - {{ info.desc }}</li>
          {% else %}
          <li class="nodisplay collapse"> {{ info.date }} - {{ info.desc }}</li>
          {% endif %}
        {% endfor %}
          <li style="list-style-type: none;"><span class="minor"><a data-toggle="collapse" href=".nodisplay">show all news</a></span></li>
      </ul>
      </div>
    </div>


    <div>
      <p>
        If you have you own project that can be a good match with my research topic,
        feel free to reach out as we have funding for visitors.
        If you are looking for Information Visualisation / Visual Analytics projects in Lyon,
        check out <a href="http://romain.vuillemot.net/">Romain Vuillemot's webpage</a>.
      </p>
    </div>
</div><!-- end #home -->
