---
layout: default
---

<div id="home">
    <!-- <h1>Aurélien Tabard</h1> -->
    <p>
      My research focuses on one consequence of the digital revolution: the pervasiveness of digital traces we leave behind us.
      I study how we relate to these traces, how we can control them but also how they can enrich our lives. Ongoing projects
      include: leveraging traces to develop and improve our digital skills by reflecting on past experiences,
      enabling users to better understand the traces they produce and developing tools to better control how traces are used.
    </p>

    <p class="minor">
      In the past years, I have explored these questions in the context of Biology laboratories, studying how researchers
      capture, re-visit and reflect on information (see my <a href="thesis/Tabard-phd-dissertation.pdf">dissertation</a>).
    </p>

    <div id="ongoing">
      <h3>Ongoing Projects</h3>
      <ul>
        <li> <a href="http://activityhistory.github.io/">Capturing and visualizing activity</a> to mitigate interruptions with <a href="http://adamrule.com/">A. Rule</a> and <a href="http://hci.ucsd.edu/hollan/">J. Hollan</a>.</li>
        <li> Understanding data physicalization with <a href="http://www.medien.ifi.lmu.de/team/simon.stusak/">Simon Stusak</a> from LMU.</li>
        <!--li>TUIsla: wireless and battery-less phidgets + rapid fabrication.</li-->
        <li> Novel visualizations to explore physical and digital library collections, with <a href="http://www.enssib.fr/enssiblab/">the French National Library School</a> and <a href="http://biin.fr/">biin</a>.</li>
      </ul>
    </div>

    <!-- <hr /> -->
    <div id="news">
      <h3>News</h3>
      <div class="panel">
      <ul>
        {% for info in site.data.news %}
          {% if info.display == 'y' %}
          <li>{{ info.date }} - {{ info.desc }}</li>
          {% else %}
          <li class="nodisplay collapse"> {{ info.date }} - {{ info.desc }}</li>
          {% endif %}
        {% endfor %}
          <li style="list-style-type: none;"><span class="minor"><a data-toggle="collapse" href=".nodisplay">show all news</a></span></li>
      </ul>
      </div>
    </div>
</div><!-- end #home -->
