---
layout: default
---

<div id="home">
    <!-- <h1>Aurélien Tabard</h1> -->


    <div id="ongoing">
      <h3>Ongoing Work</h3>
      <p>
        My research focuses on creating and studying participatory design tools. This ranges from enabling <a href="https://hal.archives-ouvertes.fr/hal-02294757/">rapid prototyping by non-specialists</a>, <a title="ongoing">eliciting experiences</a>, <a title="ongoing">documenting participatory design activities</a>, or <a href="https://dl.acm.org/doi/10.1145/1858171.1858225">supporting</a> <a href="https://dl.acm.org/citation.cfm?id=1979218">infrastructuring efforts</a>. I have also worked on more <a href="https://hal.archives-ouvertes.fr/hal-02869220/">critical approaches to PD</a>. 
      </p>  
      <ul>
        <li>Turning Explore from the <a href="https://placedproject.eu/">Placed project</a> into a product with Alix Ducros and Raphaelle Bats.
        <li><a href="http://liris.cnrs.fr/mi2/jobs/post-docs">User experience of multi-modal tranport in the Paris area</a>.</li>
        <li>Understanding situated visualization and data physicalization.</li>
        <li>Supporting planning and documenting PD workshops with l'Atelier des Chercheurs.</li>
        <li>Co-designing and infrastructuring a low footprint Web experience with Nolwenn Maudet and Collectif Bam.</li>
      </ul>
    </div>


      <!-- My research focuses on one consequence of the digital revolution: the pervasiveness of digital traces we leave behind us.
      I study how we relate to these traces, how we can control them but also how they can enrich our lives. Ongoing projects
      include: leveraging traces to develop and improve our digital skills by reflecting on past experiences,
      enabling users to better understand the traces they produce and developing tools to better control how traces are used. -->


    <div id="ongoing">
      <h3>Past Projects</h3>
      <p class="minor">
        In the past years, I have worked on activity centric computing, i.e., proposing technical and conceptual ways to make activities first class citizens of computing platforms (like files and applications are today). This work involved field studies to understand how people manage activities, technical contributions to demonstrate the feasibility and limits of such proposals, empirical studies to understand how such systems would transform practices. I have applied this work to a variety of domains such as education, sport, scientific research. 
      </p>
  
      <ul>
        <li>PLACED : Place- and Activity-Centric Services for libraries, with the <a href="http://pit.au.dk/">University of Aarhus</a>, <a href="http://ait.gu.se/english/contact/faculty/eva-eriksson">Chalmers University</a>, <a href="http://www.enssib.fr/enssiblab/">the French National Library School</a>, <a href="https://dokk1.dk/">Dokk1</a>, the libraries of <a href="http://www.bm-lyon.fr/">Lyon</a> and Goteborg.</li>
        <li>Understanding computational notebooks use with <a href="http://adamrule.com/">A. Rule</a> and <a href="http://hci.ucsd.edu/hollan/">J. Hollan</a>.</li>
        <li>Activity Centric Computing, including <a href="http://activityhistory.github.io/">capturing and visualizing activity</a>, and <a href="https://valentin.lachand.net/ubicomp_2019">activity based computing for classroom orchestration.</a></li>
        <li>Supporting biology researchers in capturing, re-visiting and reflecting on their personnal information (see my <a href="thesis/Tabard-phd-dissertation.pdf">dissertation</a>, and post-doc at ITU).</li>
      </ul>


  
    </div>

    <!--div class="important">
      <em>We are hiring, designers, engineers, and post-docs</a>. Get in touch!</em>
      <a style="text-decoration-line: underline" href="openings"></a>
    </div-->

    <!-- <hr /> -->
    <div id="news">
      <h3>News</h3>
      <div class="panel">
      <ul>
        {% for info in site.data.news %}
          {% if info.display == 'y' %}
          <li>{{ info.date }} - {{ info.desc }}</li>
          {% else %}
          <li class="nodisplay collapse"> {{ info.date }} - {{ info.desc }}</li>
          {% endif %}
        {% endfor %}
          <li style="list-style-type: none;"><span class="minor"><a data-toggle="collapse" href=".nodisplay">show all news</a></span></li>
      </ul>
      </div>
    </div>


    <div>
      <p>
        If you have you own project that can be a good match with my research,
        feel free to reach out as we have funding for visitors, and phd candidates.
        If you are looking for Information Visualisation / Visual Analytics projects in Lyon,
        check out <a href="http://romain.vuillemot.net/">Romain Vuillemot's webpage</a>, for computer supported learning and gamification, <a href="https://perso.liris.cnrs.fr/elise.lavoue/">Elise Lavoué</a>.
      </p>
    </div>
</div><!-- end #home -->
