---
layout: page
title: Openings
permalink: /openings/
description: Come work with us
---
<div class="home">

  <!-- {% capture my-include %}{% include jobs.md %}{% endcapture %}
  {{ my-include | markdownify }}

  <p>none at the moment</p> -->
  <h2>Ph.D. theses</h2>
  <p>
    If you're interested in doing a Ph.D. in Human Computer Interaction in Lyon, get in touch!
    We have regular openings on funded projects, and our labs funds excellent 4 candidates every year (application deadline in May/June).
    The usual process to join us, is to intern with us or visit during or after your Masters degree.
  </p>

  <h3 id="placed">PLACED Project</h3>
  <p>
    We are looking for a Ph.D. student to work on place and activity-centric
    services for libraries.
    PLACED aims at designing digital services to capture the new type of
    activities happening in libraries, e.g. public reading, hackathons, meetups, etc.,
    and integrate these activities to library collections.
    The Ph.D. will focus on the design of ambient visualisations embedded in
    the library and accounting for past, present, and future events happening there.
  </p>
  <p>
    PLACED is a ~1M€ project in collaboration with
    the <a href="http://pit.au.dk/">University of Aarhus</a>,
    <a href="http://ait.gu.se/english/contact/faculty/eva-eriksson">Chalmers University</a>,
    <a href="http://www.enssib.fr/enssiblab/">the French National Library School</a>,
    <a href="https://dokk1.dk/">Dokk1</a>,
    the libraries of <a href="http://www.bm-lyon.fr/">Lyon</a> and Goteborg.
  </p>
  <p>
    <a style="text-decoration-line: strikethrough" href="/openings/phd-opening-placed.html">Detailed job posting and application instructions.</a>
    The position has been filled.
  </p>
  <p>
    <a style="text-decoration-line: underline" href="http://www.chalmers.se/en/about-chalmers/vacancies/Pages/default.aspx?rmpage=job&rmjob=5003">Post-doc opening in Goteborg.</a>
  </p>


  <h2>Post-docs</h2>
  <p>
    We are looking for a post-doc in HCI / UX research within the REPI project.
    The post-doc will work Activity Based Computing in high-schools, either on the technical aspects,
    or the adoption and appropriation of such technology in high-schools.
    We are looking for people with either Psychology, Design, Human-Factors, Learning or Computer Science backgrounds.
  </p>
  <p>
    Our goal within the project it to link Activity Based Computing to Orchestration and Macro-Scripting.
  </p>
  <p>
    The Post-doc will have the opportunity to conduct their own research within
    the project frame, to collaborate with a Ph.D. student working on the
    technical aspects of the project.
    Supervision of master students is also to be expected.
  </p>

  <h2>Visitors</h2>
  <p>
    Our lab has funding for visitors. Just get in touch if you would like to work with us for a few months.
  </p>



  <!-- Internships -->
  {% capture my-include %}{% include internships.md %}{% endcapture %}
  {{ my-include | markdownify }}

  <!-- Master theses -->
  {% capture my-include %}{% include theses.md %}{% endcapture %}
  {{ my-include | markdownify }}

  <p>
    Contact me if you have ideas, I supervise theses on my topics of interests. At the moment:
  </p>
  <ul>
    <li>Place- and Activity-Centric Services for libraries or museums</li>
    <li>Capturing, organizing and visualizing personal activity</li>
    <li>Data physicalization</li>
    <li>Collaboration in multi-surface environments</li>
    <!--li>TUIsla: wireless and battery-less phidgets + rapid fabrication.</li-->
  </ul>



</div>
