---
layout: page
title: Openings
permalink: /openings/
---
<div class="home">

  <!-- {% capture my-include %}{% include jobs.md %}{% endcapture %}
  {{ my-include | markdownify }}

  <p>none at the moment</p> -->

  <h2>Ph.D. theses</h2>
  <p>If you're interested in doing a Ph.D. in Human Computer Interaction in Lyon, get in touch!
  We have regular openings on funded projects, and our labs funds excellent 4 candidates every year (application deadline in May/June).
  The usual process to join us, is to intern with us at the end of your Masters degree.
  </p>

  {% capture my-include %}{% include internships.md %}{% endcapture %}
  {{ my-include | markdownify }}

  <p>Usually posted around November, contact me if you have ideas.</p>

  {% capture my-include %}{% include theses.md %}{% endcapture %}
  {{ my-include | markdownify }}

</div>
